########################
# Custom gitignore for #
# Devdesktop projects  #
#   by Jon Simonsen    #
########################

#Ignore everything
*

##############
# Exceptions #
##############

#Readme and gitignore
!./.gitignore
!./README.md

#Except relevant folders in tracked directories
!./Dart-stats/modules/
!./Dart-stats/sites/
!./Dart-stats/DB/
